<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs")%>

  <body>
    <%- include("partials/header.ejs")%>

    <div class="carrusel">
      <img
        src="img/bandera-login.jpg"
        alt=" imagen productos"
        class="carrusel-img"
      />
    </div>
    <main id="main">
      <section class="categorias-carrusel">
        <!--aside class="carrusel">
                <ul class="slides">
                    <li id="slide1">Nuestras promociones</li>
                    <li id="slide2">Nuestros productos</li>
                    <li id="slide3">Productos de temporada</li>
                </ul>
                <nav>
                    <ul class="menu">
                        <li> <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate">Diapositiva 1</a></li>
                        <li> <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate">Diapositiva 2</a></li>
                        <li> <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate">Diapositiva 3</a></li>
                    </ul>
                </nav>

            </aside> -->
        <!-- trabajando en el carrusel-->
        <article class="categorias-lista">
          <h3 class="categorias">Categorías</h3>
          <p class="lista-categorias">
            <a href="#">Categoria 1 </a>
            <a href="#">Categoria 2</a>
            <a href="#">Categoria 3</a>
            <a href="#">Categoría 4</a>
          </p>
        </article>
      </section>
      <section class="ultima-visita">
        <h4 class="titulo-entre-productos">Productos Destacados</h4>
        <div class="productos-login">
          <% for (let i = 5; i < productos.length; i++) {%> <!--  /* cambié i = 0 por i = 5*/ -->
          <article class="article-producto-login">
            <img
              class="picture"
              src="/img/<%= productos[i].image %>"
              alt="<%= productos[i].alt %>"
              width="100"
              height="100"
            />
            <div class="articulos-vistos">
              <p class="precio-Antes">$<%= productos[i].price %></p>
              <i class="fas fa-truck"></i>
              <h5 class="descripcion">
                <a href="/producto/<%= productos[i].id %>/detalle"><%= productos[i].name %></a>
              </h5>
            </div>
          </article>
          <%}%>
      </section>
      <section class="promociones">
        <h4 class="titulo-entre-productos">Nuestras promociones</h4>
        <div class="productos-login">
          <% for (let i = 0; i < 5; i++) {%><!--  /* cambié productos.length por un 5 */ -->
            <article class="article-producto-login">
              <img
                class="picture"
                src="/img/<%= productos[i].image %>"
                alt="<%= productos[i].alt %>"
                width="100"
                height="100"
              />
              <div class="articulos-vistos">
                <p class="precio-Antes"><%= productos[i].price %>$</p>
                <i class="fas fa-truck"></i>
                <h5 class="descripcion">
                  <a href="producto/<%= productos[i].id %>/detalle/"><%= productos[i].name %></a>
                </h5>
              </div>
            </article>
            <%}%>
        </div>
      </section> 
    </main>

    <%- include("partials/footer.ejs")%>
  </body>
</html>
