<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>

  <body>
    <%- include("../partials/header.ejs")%>

    <main id="main">
      <section class="section-login">
        <form
          action="/producto/<%=producto.id%>/editar?_method=PUT"
          method="POST"
          class="form2"
        >
          <label>Nombre:</label>
          <input type="text" name="name" value="<%= producto.name %>" />
          <br />
          <label>Descripción:</label>
          <input
            type="text"
            name="description"
            value="<%= producto.description %>"
          />
          <br /><br />
          <label>Precio:</label>
          <input type="text" name="price" value="<%= producto.price %>" />
          <br /><br />
          <button type="submit">Actualizar</button>
        </form>

        <!-- <form action="/producto/<%=producto.id%>/editar?_method=PUT" method="POST" class="form2">
          <div class="nombredelproducto">
            <label for="product-name">Nombre</label>
            <input
              type="text"
              name="name"
              id="product-name"
              minlength="10"
              placeholder="Nombre del Producto"
              value="<%=producto.name%>"
            />
          </div>
          <div class="descripcion">
            <label for="product-description">Descripción</label>
            <input
              type="text"
              id="product-description"
              minlength="30"
              placeholder="Descripcion"
              name="description"
              value="<%=producto.description%>"
            />
          </div>
          <div class="login-button">
            <button class="subirimagen">
              <a href="/">CAMBIAR IMAGEN</a>
            </button>
          </div>
          <div class="login-button">
            <div>
              <%#
                TODO: ¿cambiamos el checkbox a un dropdown?
                https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_select
              %>
              <p><a href="#">COLORES:</a></p>
                <label for="checkbox-recuerdame">Naranja</label>
                <input type="checkbox" name="checkbox" id="checkbox">
                <section class="#">
    </div>
    <div class="login-button">
      <div>
          <label for="checkbox-recuerdame">Amarillo</label>
          <input type="checkbox" name="checkbox" id="checkbox">
          <section class="#">
</div>
<div class="login-button">
  <div>
      <label for="checkbox-recuerdame">Negro</label>
      <input type="checkbox" name="checkbox" id="checkbox">
      <section class="#">
</div>
<div class="login-button">
  <div>
      <label for="checkbox-recuerdame">Original(Gris Claro)</label>
      <input type="checkbox" name="checkbox" id="checkbox">
      <section class="#">
</div>
<div class="login-button">
            <div>
              <%#
                TODO: ¿cambiamos el checkbox a un dropdown?
                https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_select
              %>
              <p><a href="#">CATEGORIAS:</a></p>
                <label for="checkbox-recuerdame">Herramientas</label>
                <input type="checkbox" name="checkbox" id="checkbox">
                <section class="#">
    </div>
    <div class="login-button">
      <div>
          <label for="checkbox-recuerdame">Electricidad</label>
          <input type="checkbox" name="checkbox" id="checkbox">
          <section class="#">
</div>
<div class="login-button">
  <div>
      <label for="checkbox-recuerdame">Plomeria</label>
      <input type="checkbox" name="checkbox" id="checkbox">
      <section class="#">
</div>
<div class="login-button">
  <div>
    
      <label for="checkbox-recuerdame">Construccion</label>
      <input type="checkbox" name="checkbox" id="checkbox">
      <section class="#">
</div>
<div class="username">
  <label for="product-price"> Precio</label>
  <input
    type="number"
    id="product-price"
    minlength="4"
    placeholder="Precio $"
    name="price"
    value="<%=producto.price%>"
  />
</div>
<div class="login-button">
  <button type="submit" class="publicarproducto">ACTUALIZAR</button>
</div>
<div class="login-button">
        </form> -->
      </section>
    </main>
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
