<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>

  <body class="body-product-detail">
    <%- include("../partials/header.ejs")%>

    <section class="product-description">
      <div class="product-title">
        <p>
          <%= producto.name %>
        </p>
      </div>

      <div class="main-product-detail">
        <div class="img-producto">
          <div class="contain-img">
            <img src="/img/<%= producto.image%>" alt="<%=producto.alt %>" />
          </div>
        </div>

        <div class="botton-product-img">
          <div class="product-title-rigth">
            <p><%= producto.name %></p>
          </div>

          <div class="product-price">
            <h3>$<%= producto.price %></h3>
            <p>Precio en 12 cuotas: <%=producto.price/10%>$ </p>
            <p>cantidad: <%= producto.stock %></p>
          </div>

          <div class="product-carrito">
            <a href="#">Agregar al carrito</a>
          </div>

          <div class="product-compra">
            <a href="/producto/<%=producto.id%>/editar">Editar Producto</a>
          </div>

          <form action="/producto/<%=producto.id %>/detalle?_method=DELETE" method="POST">
            <div class="product-compra">
              <button type="submit" id="button-delete">Eliminar producto</button>
            </div>
          </form>
        </div>
      </div>

      <div class="product-carac">
        <h2>Caracteristicas:</h2>
        <div>
          <%= producto.description %>
        </div>
        <div>
          <%= producto.color %>
        </div>
        <div>
          <%= producto.subCategory %>
        </div>
        <!-- <ul class="produc-info">
          <li>Apta para un disco de 115 mm de di치metro</li>
          <li>Trae interruptor tecla.</li>
          <li>Su potencia es de 840 W.</li>
          <li>Velocidad m치xima de rotaci칩n de rpm.</li>
          <li>Con arranque progresivo.</li>
          <li>Tiene bot칩n de bloqueo de disco.</li> -->
        </ul>
      </div>
    </section>

    <!------------------ producto SIMILARES ------------------->

    <section class="products-similares">
      <h3>producto Similares:</h3>
      <div class="product-mostrados">
        <% for (let i = 0; i < otrosProductos.length; i++) {%>
        <article>
          <img
            src="/img/<%= otrosProductos[i].image %>"
            alt="<%= otrosProductos[i].alt %>"
            class="product_img"
          />
          <div class="main-article">
            <h4 class="description"><a href="/producto/<%=otrosProductos[i].id%>/detalle"><%= otrosProductos[i].name %></a></h4>
            <i class="fas fa-truck"></i>
            <p class="price">$<%= otrosProductos[i].price %></p>
            <p class="discount"><%= otrosProductos[i].discount %>% off</p>
          </div>
        </article>
        <%}%>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
