<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>

  <body class="body-product-detail">
    <%- include("../partials/header.ejs")%>

    <section class="product-description">
      <div class="product-title">
        <p>
          Amoladora angular Klatter YSAG01 de 50 Hz verde y negra 840 W 220 V
        </p>
      </div>
      
      <% for (let i = 0; i < productos.length; i++) {%>
      <div class="main-product-detail">
        <div class="img-producto">
          <div class="contain-img">
            <img
              src="<%= productos[i].img %>"
              alt="<%= productos[i].alt %>"
            />
          </div>
        </div>

        <div class="botton-product-img">
          <div class="product-title-rigth">
            <p>
              <%= productos[i].desc %>
            </p>
          </div>

          <div class="product-price">
            <h3><%= productos[i].price %></h3>
            <p>Precio en cuotas</p>
            <p>cantidad:<%= productos[i].cantidad %></p>
          </div>

          <div class="product-carrito">
            <a href="#">Agregar al carrito</a>
          </div>

          <div class="product-compra">
            <a href="#">Comprar Ahora</a>
          </div>
        </div>
      </div>

      <div class="product-carac">
        <h2>Caracteristicas:</h2>
        <ul class="produc-info">
          <li>Apta para un disco de 115 mm de di치metro</li>
          <li>Trae interruptor tecla.</li>
          <li>Su potencia es de 840 W.</li>
          <li>Velocidad m치xima de rotaci칩n de rpm.</li>
          <li>Con arranque progresivo.</li>
          <li>Tiene bot칩n de bloqueo de disco.</li>
        </ul>
      </div>
    </section>
    
    <%}%>

    <section class="products-similares">
      <h3>Productos Similares:</h3>
      <div class="product-mostrados">
      <% for (let i = 0; i < productos.length; i++) {%>
        <article>
          <img
            src="<%= productos[i].img %>"
            alt="<%= productos[i].alt %>"
            class="product_img"
          />
          <div class="main-article">
            <h4 class="description"><%= productos[i].name %></h4>
            <i class="fas fa-truck"></i>
            <p class="price"><%= productos[i].price %></p>
            <p class="discount">6% off</p>
          </div>
        </article>
        <%}%>  
      </div>
    </section>

    <%- include("../partials/footer.ejs")%>
  </body>
</html>
